<table id="tlayout">
  <tr valign="top">
    <td id="layout-menu">
      <img src="/assets/TT.png" style="width: 80px; height: auto; display: inline">
      <div class="menu-category"><a href="/">Jour. Club </div>
        <div style="opacity: 0.85; font-weight: bold; margin-bottom: 0.5em">Fall 2021</div>
    </td>
    <td id="layout-content">
